h1{
    text-align: center;
    padding: 10px 0 20px;
}

#passwordsaver{
  border-style: dashed;
  border-width: 3px;
}

h2{
    text-align: left;
    padding: 20px;
    border-bottom: solid lightgray;
}

#content{
    margin: 20px;
    background-color:#fff;
}

.btn{
margin: 30px 0;
}